.env
/static/fullnew.html
/static/dhwani.svg
/index.html

# Ignore all service account keys
*.json
# OR specifically ignore both paths
/server/dhwani-key.json
/otherserver/dhwani-key.json
server/dhwani-key.json
# Ignore credentials
*.json
.env
